<div class="banner">
  <div class="banner-name">
    <div class="banner-name-doug">
      <h1 id="doug-berkley-name">Douglas Berkley</h1>
    </div>
    <div class="banner-title">
      <p>Full Stack Web Developer</p>
      <div class="banner-title-sub">
        <p>Tokyo, Japan</p>
      </div>
    </div>
  </div>
  <div class="banner-icons">
    <div class="banner-icon">
      <%= link_to "#apps" do %>
        <div class="banner-icon-pic">
          <%= image_tag "apps.png", class: "banner-pic", style: "width:30px;" %>
        </div>
        <div class="banner-icon-tile" style="padding-top:1px;">
          <p>APPS</p>
        </div>
      <% end %>
    </div>
    <div class="banner-icon">
      <%= link_to "#extensions" do %>
        <div class="banner-icon-pic">
          <%= image_tag "extensions.png", class: "banner-pic" %>
        </div>
        <div class="banner-icon-tile">
          <p>EXTENSIONS</p>
        </div>
      <% end %>
    </div>
    <div class="banner-icon">
      <%= link_to "#projects" do %>
        <div class="banner-icon-pic">
          <%= image_tag "projects.png", class: "banner-pic" %>
        </div>
        <div class="banner-icon-tile">
          <p>PROJECTS</p>
        </div>
      <% end %>
    </div>
    <div class="banner-icon">
      <%= link_to "#videos" do %>
        <div class="banner-icon-pic">
          <%= image_tag "videos.png", class: "banner-pic" %>
        </div>
        <div class="banner-icon-tile">
          <p>VIDEOS</p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-6"></div>
<div class="col-xs-12 col-sm-6"></div>
<div class="">
  <div class="col-xs-12 col-sm-6" style="padding: 0px;">
    <div class="picture-impact"></div>
  </div>
  <div class="col-xs-12 col-sm-6" style="padding: 0px;">
    <div class="picture-dmm"></div>
  </div>
</div>

<%= render partial: "pages/section", locals: {
  section_id: "apps",
  section: "advanced_cod",
  title: "Advanced Cash on Delivery",
  subtitle: "Shopify app that add customizable cash on delivery shipping methods",
  description: "Offers a customized COD payment option to domestic customers. Charge additional handling fees based on order amount or shipping weight.",
  picture_one: "advanced_cod1.png",
  picture_two: "advanced_cod2.png",
  picture_three: "advanced_cod3.png",
  picture_four: "advanced_cod4.png",
  link: "https://apps.shopify.com/advanced-cash-on-delivery-global"
} %>

<%= render partial: "pages/section", locals: {
  section_id: nil,
  section: "easy_label",
  title: "Easy Label",
  subtitle: "Shopify app that dynamically creates shipping labels for Japan Post",
  description: "Easily print Japan Post shipping labels for international customers. Create labels for every available shipping method within seconds.",
  picture_one: "easylabel1.png",
  picture_two: "easylabel2.png",
  picture_three: "easylabel3.png",
  picture_four: nil,
  link: "https://apps.shopify.com/easy-label-japan-post"
} %>


<%= render partial: "pages/section", locals: {
  section_id: nil,
  section: "easy_rates",
  title: "Easy Rates",
  subtitle: "Shopify app that provides custom shipping rates",
  description: "Easily display rates for all Japan Post shipping methods at checkout. Offer your customers a variety of shipping methods within seconds.",
  picture_one: "easyrates1.png",
  picture_two: "easyrates2.png",
  picture_three: "easyrates3.png",
  picture_four: nil,
  link: "https://apps.shopify.com/easy-rates-japan-post"
} %>

<%= render partial: "pages/section", locals: {
  section_id: "extensions",
  section: "shopify_translator",
  title: "Shopify Translator",
  subtitle: "Chrome extension that translates the Shopify dashboard into Japanese",
  description: "The Shopify admin dashboard does not have locale language options, so I created this extension to help Shopify merchants. With over 300 users, it translates all of the important areas and functions for Japanese merchants.",
  picture_one: "japanesedashboard.png",
  picture_two: nil,
  picture_three: nil,
  picture_four: nil,
  link: "https://chrome.google.com/webstore/detail/%E6%97%A5%E6%9C%AC%E8%AA%9E%E3%81%AEshopify/aldikfnmmalpelfaokdaiimhpedlghlb?hl=en"
} %>

<%= render partial: "pages/section", locals: {
  section_id: "projects",
  section: "world_cup",
  title: "World Cup Predict",
  subtitle: "Interactive layout to predict the 2018 World Cup results",
  description: "It was a two-week product sprint to be available in time for the start of the tournament. I built the front-end in React. The back-end is handled by a Ruby on Rails API.",
  picture_one: "gibbithomepage.png",
  picture_two: "gibbitdashboard.png",
  picture_three: nil,
  picture_four: nil,
  link: "http://www.worldcuppredict.win"
} %>


<%= render partial: "pages/section", locals: {
  section_id: nil,
  section: "gibbit",
  title: "Gibbit",
  subtitle: "Lead developer for an online service that helps foreigners living abroad",
  description: "I was personally responsible with the design and functionality of the user and admin dashboards. I was also in charge of the UX and layout of the home page and chatroom, along with implementing Stripe to pay for service.",
  picture_one: "gibbithomepage.png",
  picture_two: "gibbitdashboard.png",
  picture_three: nil,
  picture_four: nil,
  link: "http://www.gibbit.online/"
} %>

<%= render partial: "pages/section", locals: {
  section_id: nil,
  section: "dave_beck_music",
  title: "Dave Beck Music",
  subtitle: "Sole developer for a popular music act based in Seoul, Korea",
  description: "All multimedia is integrated using jQuery, while the rest of the site is based in Ruby, Rails, HTML, and CSS. I was responsible for the entire design and construciton.",
  picture_one: "davebeckmusic.png",
  picture_two: "davebeckshows.png",
  picture_three: nil,
  picture_four: nil,
  link: "https://dave-beck-music.herokuapp.com/"
} %>

<%= render partial: "pages/section", locals: {
  section_id: nil,
  section: "studio_fifty_find",
  title: "Studio Fifty-Find",
  subtitle: "Co-developer for a music studio booking service in Tokyo",
  description: "I created the back-end CRUD methods to book studios and designed the studio booking pages. I also implemented the Google Maps Geocoding API along with mailer confirmations.",
  picture_one: "studioshow.png",
  picture_two: "studioindexpage.png",
  picture_three: nil,
  picture_four: nil,
  link: nil
} %>

<div class="col-xs-12 videos-section" id="videos">
  <div class="">
    <div class="video-title">
      <p>Gibbit Pitch Night</p>
    </div>
      <center><iframe src="https://www.youtube.com/embed/QMDunGmWEAw?start=1661" frameborder="0" allowfullscreen></iframe></center>
  </div>
</div>
